@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Covered+By+Your+Grace|Patrick+Hand+SC|Shadows+Into+Light|Sue+Ellen+Francisco&display=swap');

/* font-family: 'Shadows Into Light', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Covered By Your Grace', cursive;
font-family: 'Sue Ellen Francisco', cursive;
font-family: 'Patrick Hand SC', cursive; */

div {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-justify: center;
    background-color: rgba(255, 255, 255, 0.85);
    width: 700px;
    height: auto;
    margin: auto;
    padding: 40px;
}

.inactive-button {
    background: black;
    color: white;
    font-family: 'Shadows Into Light', cursive;
    font-size: 0.9em;
    border: none;
}

.inactive-button:hover {
    transition: transform 100ms ease-in-out;
    box-shadow: 3px 3px 6px rgba(75, 71, 71, 0.5);
    transform: translate3d(-1.5px, 1.5px, 0);
}

.remove-button {
    background: transparent;
    border: transparent;
    height: 35px;
    padding: -5px;
}

.trash-icon {
    width: 30px;
}

.trash-icon:hover {
    animation: shake 0.7s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
